In [5]:
import pandas as pd

PATH_IN  = "Sentiment140_raw.csv"           
PATH_OUT = "Sentiment140_raw_fixed.csv"    

df = pd.read_csv(PATH_IN)

expected = [
    "target",        
    "label_str",    
    "id",            
    "date",          
    "flag",          
    "user",          
    "text",          
    "text_clean",    
    "char_count",    
    "word_count"     
]

assert len(df.columns) == len(expected), f"Expected 10 columns, found {len(df.columns)}"

df.columns = expected

if "character_count" in df.columns:
    df = df.rename(columns={"character_count": "char_count"})

df.to_csv(PATH_OUT, index=False)
print("Wrote:", PATH_OUT)
print("Columns now:", list(df.columns))

Wrote: Sentiment140_raw_fixed.csv
Columns now: ['target', 'label_str', 'id', 'date', 'flag', 'user', 'text', 'text_clean', 'char_count', 'word_count']

In [6]:
import pandas as pd
from utils_data_io import load_clean_csv
from utils_post_processing import quick_summary

PATH = "Sentiment140_raw_fixed.csv"  
df = load_clean_csv(PATH, text_col="text_clean", label_col="target")
summary = quick_summary(df, text_col="text_clean", label_col="target")
summary

{'rows': 1593001,
 'url_rate': np.float64(0.0),
 'mention_rate': np.float64(0.0),
 'hashtag_symbol_rate': np.float64(0.0),
 'label_counts': {0: 796896, 2: 796105}}

In [7]:
df.head(10)[["target","text_clean","word_count","char_count"]]

,target,text_clean,word_count,char_count
0,0,is upset that he cant update his facebook by t...,21,104
1,0,i dived many times for the ball managed to sav...,17,76
2,0,my whole body feels itchy and like its on fire,10,46
3,0,no its not behaving at all im mad why am i her...,20,85
4,0,not the whole crew,4,18
5,0,need a hug,3,10
6,0,hey long time no see yes rains a bit only a bi...,18,75
7,0,nope they didnt have it,5,23
8,0,que me muera,3,12
9,0,spring break in plain city its snowing,7,38